@tailwind base;
@tailwind components;
@tailwind utilities;

.borderProfileGradient {
  border-radius: var(--Radius-2, 8px);
  border: 1px solid rgba(224, 57, 35, 0.1);
  border-bottom-width: 0px;
  background: linear-gradient(
    180deg,
    rgba(224, 57, 35, 0.1) 0%,
    rgba(224, 57, 35, 0) 100%
  );
}